In [1]:
import pandas as pd

In [12]:
# read in vine table csv
vine_df = pd.read_csv("vine_table.csv")

In [13]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N

In [14]:
#filter to include only rows where total votes is >= 20

vine_df = vine_df[vine_df['total_votes'] >= 20]

In [15]:
#filter again to include only rows where helpful votes/total votes >.5
vine_df = vine_df[vine_df['helpful_votes']/vine_df['total_votes'] >= 0.5]

In [16]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

In [18]:
#create df for rows where vine = yes
vine_program_df = vine_df[vine_df['vine']=="Y"]
vine_program_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N

In [19]:
no_vine_program_df = vine_df[vine_df['vine']=="N"]
no_vine_program_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

In [24]:
vine_program_total = vine_program_df['review_id'].count()
vine_program_total

334

In [25]:
no_vine_program_total = no_vine_program_df['review_id'].count()
no_vine_program_total

61614

In [34]:
# sum five star reviews for vine program participants
five_star_total_vine = vine_program_df[vine_program_df["star_rating"]==5.0]['star_rating'].count()
five_star_total_vine

139

In [36]:
#sum five star reviews for non vine_program participants
five_star_total_no_vine = no_vine_program_df[no_vine_program_df["star_rating"]==5.0]['star_rating'].count()
five_star_total_no_vine

32665

In [39]:
# get percentage of five star reviews for vine program participants
five_star_percentage_vine = five_star_total_vine/vine_program_total*100
five_star_percentage_vine

41.61676646706587

In [40]:
# get percentage of five star reviews for non vine program participants
five_star_percentage_no_vine = five_star_total_no_vine/no_vine_program_total*100
five_star_percentage_no_vine

53.01554841432142